.btn {
  height: 60px;
  width: 300px;
  border-radius: 35px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 20px;
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
}
